<h1>New division</h1>

<form action="/wizard_divide">
  <label for="form_first">
    Divide this:
  </label>
  <input id="form_first" name="first_num" text="text">

  <label for="form_second">
    by this:
  </label>
  <input id="form_second" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
