<form action="/wizard_add">
  <div>
    <label for="form_first_number">Enter a number </label>
  </div>
  <div>
  <input id="form_first_number" type="text" name="first_num">
  </div>

  <div>
    <label for="form_second_number">Enter a number </label>
  </div>
  <div>
  <input id="form_second_number" type="text" name="second_num">
  </div>

<button>Add!</button>
</form>
